.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    padding: 10px 20px; 
}

.nav-items {
    display: flex;
    cursor: pointer;
    gap: 30px; /* Creates space between flex items, adjust as needed */
}

.nav-item {
    padding: 5px 15px; /* Padding makes items easier to click and visually nicer */
    transition: background-color 0.5s; /* Smooth transition for hover effect */
}

.nav-item:hover {
    background-color: #8eee4a; 
}

.nav-item:last-child {
    margin-right: 0;
}

.logo_inside {
    cursor:default;
    height: 20px;
}